.card{
    padding: 10px;
    margin: 5px;
    width: 500px;
}


.cardHeader{
    text-align: center;

}

.cardBody{
    text-align: center;
    justify-content: center;
}

.nextButton{
    justify-content: center;
}